* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1323px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.heading {
  font-weight: bold;
  font-size: 48px;
  color: #000;
  line-height: 1.3333333333;
  word-break: break-all;
}
@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 20px;
  }
}

.text {
  word-break: break-all;
  font-weight: 300;
  color: #949494;
  font-size: 18px;
  line-height: 1.6666666667;
}
@media only screen and (max-width: 1023px) {
  .text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .text {
    font-size: 14px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 40px;
  min-height: 50px;
  padding: 0 50px;
  color: #fff;
  background-image: linear-gradient(to left, #4b007c, #b40084);
  word-break: break-all;
}
@media only screen and (max-width: 767px) {
  .btn {
    min-height: 40px;
    font-size: 14px;
    padding: 0px 32px;
  }
}

.gap {
  padding-top: 100px;
}

.header {
  background: url("../images/header-bg.jpg") no-repeat center/cover;
  width: 100%;
  min-height: 1080px;
}
.header-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 54px;
}
.header-top__logo {
  font-weight: bold;
  font-size: 36px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.header-top__logo span {
  font-weight: 300;
}
.header-top__bars {
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  display: none !important;
}
.header-menu__list {
  list-style-type: none;
  margin-top: 60px;
}
.header-menu__close {
  display: none !important;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.header-menu__items {
  display: inline-block;
}
.header-menu__items:not(:first-child) {
  margin-left: 34px;
}
.header-menu__link {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.header-menu__link--border {
  border: 1.5px solid #424344;
  border-radius: 28px;
  padding: 10px 22px;
}
.header-content {
  max-width: 610px;
  margin: 0 auto;
  padding-top: 215px;
  text-align: center;
}
.header .gap {
  padding-top: 54px;
}
@media only screen and (max-width: 1023px) {
  .header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header-bg.jpg") no-repeat center/cover;
    min-height: auto;
  }
  .header-top {
    padding-top: 40px;
  }
  .header-top__logo {
    font-size: 25px;
  }
  .header-top__bars {
    display: block !important;
  }
  .header-menu {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all ease-in-out 0.4s;
    z-index: 100000000000000030000000;
  }
  .header-menu.open-menu {
    transform: translateX(0);
  }
  .header-menu__close {
    display: block !important;
  }
  .header-menu__items {
    display: block;
  }
  .header-menu__items:not(:nth-child(9999)) {
    margin-left: 0;
    padding: 20px;
  }
  .header-menu__link--border {
    border: none;
    padding: 0;
  }
  .header-content {
    padding: 150px 0;
  }
  .header .text {
    color: white;
  }
}

.best {
  margin-top: -150px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.best-items {
  padding: 123px 75px;
  width: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/best-1.jpg") no-repeat center/cover;
}
.best-items:nth-child(2) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/best-2.jpg") no-repeat center/cover;
}
.best-content {
  max-width: 580px;
  color: #fff;
}
.best .heading {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
}
.best .heading span {
  font-weight: bold;
}
.best .text {
  color: inherit;
}
.best .btn {
  margin-top: 30px;
}
@media only screen and (max-width: 1439px) {
  .best-items {
    padding: 80px 75px;
  }
}
@media only screen and (max-width: 1023px) {
  .best {
    margin-top: 0;
    display: block;
  }
  .best-items {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .best-items {
    padding: 50px;
    width: 100%;
  }
}

.wedo {
  --mb-wedo: 71px;
  padding-top: 94px;
  text-align: center;
}
.wedo-list {
  margin-bottom: calc(var(--mb-wedo) * -1);
  padding-top: 90px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.wedo-list__items {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(50% - 77.5px);
  margin-bottom: var(--mb-wedo);
}
.wedo-list__image {
  width: 325px;
}
.wedo-list__image img {
  width: 100%;
  object-fit: cover;
}
.wedo-list__intro {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding-left: 45px;
  text-align: left;
}
.wedo .gap {
  padding-top: 100px;
}
.wedo .wedo-list__intro .heading {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 30px;
  margin-bottom: 18px;
}
.wedo .wedo-list__intro .text {
  font-size: 18px;
}
@media only screen and (max-width: 1023px) {
  .wedo {
    padding-top: 60px;
  }
  .wedo-list {
    padding-top: 60px;
    display: block;
  }
  .wedo-list__items {
    width: 100%;
  }
  .wedo-list__image {
    max-width: 150px;
  }
  .wedo .gap {
    padding-top: 50px;
  }
  .wedo .wedo-list__intro .heading {
    font-size: 18px;
  }
  .wedo .wedo-list__intro .text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .wedo-list__intro {
    padding-left: 20px;
  }
  .wedo .wedo-list__intro .heading {
    font-size: 16px;
  }
  .wedo .wedo-list__intro .text {
    font-size: 14px;
  }
}

.template {
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.template-items {
  width: 33.3333%;
  position: relative;
  cursor: pointer;
}
.template-items:hover .template-content {
  opacity: 1;
}
.template-items__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.template-items__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.template-content {
  padding: 90px 100px;
  transition: all linear 0.4s;
  opacity: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.template .heading {
  color: inherit;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.template .text {
  margin-bottom: 60px;
  color: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media only screen and (max-width: 1600px) {
  .template-content {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 1279px) {
  .template-content {
    padding: 8px 20px;
  }
  .template .heading {
    font-size: 20px;
  }
  .template .text {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 1023px) {
  .template {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-gap: 10px;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .template::-webkit-scrollbar {
    width: 1em;
    height: 5px;
    display: block;
  }
  .template::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .template::-webkit-scrollbar-thumb {
    background-color: red;
  }
  .template > * {
    scroll-snap-align: start;
  }
  .template-items {
    width: 100%;
  }
}
@media only screen and (max-width: 424px) {
  .template {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .template::-webkit-scrollbar {
    width: 1em;
    height: 5px;
    display: block;
  }
  .template::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .template::-webkit-scrollbar-thumb {
    background-color: red;
  }
  .template > * {
    scroll-snap-align: start;
  }
}

.about {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/about-bg.jpg") no-repeat center/cover fixed;
  text-align: center;
  padding: 110px 0 115px;
}
.about-block {
  max-width: 710px;
  margin: 0 auto;
}
.about-list {
  max-width: 1130px;
  padding-top: 130px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  margin: 0 auto;
}
.about-list__items {
  width: calc(25% - 26.25px);
}
.about .heading {
  color: #fff;
  margin-bottom: 30px;
}
.about .about-content .heading {
  font-size: 24px;
  color: #fff;
  margin: 24px 0;
}
.about .about-content .text {
  font-size: 18px;
}
@media only screen and (max-width: 1023px) {
  .about {
    background-attachment: unset;
    padding: 80px 0;
  }
  .about-list__image {
    width: 100px;
  }
  .about-list {
    padding-top: 60px;
  }
  .about .about-content .heading {
    font-size: 18px;
  }
  .about .about-content .text {
    font-size: 16px;
  }
  .about .gap {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .about-list {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
  .about-list__items {
    width: calc(50% - 26.25px);
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 424px) {
  .about-list__image {
    width: 80px;
  }
}

.map {
  height: 610px;
  position: relative;
  text-align: center;
}
.map .map__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map .heading {
  font-size: 28px;
  font-weight: 400;
}
.map .gap {
  padding-top: 20px;
}
@media only screen and (max-width: 767px) {
  .map {
    height: 400px;
  }
  .map__image {
    display: none;
  }
}

.copyright {
  padding: 60px 0;
  text-align: center;
}
.copyright span:nth-child(2) {
  display: block;
  margin-top: 8px;
}
.copyright .copyright__dev {
  text-decoration: none;
  font-weight: bold;
  color: #a7acbc;
  transition: 0.2s;
}
.copyright .copyright__dev:hover {
  color: #4b007c;
}
@media only screen and (max-width: 1023px) {
  .copyright {
    padding: 25px 0;
  }
}

/*# sourceMappingURL=style.css.map */
