.wedo {
    --mb-wedo: 71px;
    padding-top: 94px;
    text-align: center;
    &-list {
        margin-bottom: calc(var(--mb-wedo) * (-1));
        padding-top: 90px;
        @include flexbox((
            justify-content: space-between,
            flex-wrap: wrap
        ));
    }
    &-list__items {
        @include flexbox((
            justify-content: space-between
        ));
        width: calc(50% - 77.5px);
        margin-bottom: var(--mb-wedo);
    }
    &-list__image {
        width: 325px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &-list__intro {
        @include flexbox((
            flex-direction: column,
            justify-content: space-between
            ));
        height: 100%;
        padding-left: 45px;
        text-align: left;
    }
    .gap {
        padding-top: 100px;
    }
    .wedo-list__intro .heading {
        @include lineClamp();
        font-size: 30px;
        margin-bottom: 18px;
    }
    .wedo-list__intro .text {
        font-size: 18px;
    }
    @include maxWidth(1023px) {
        padding-top: 60px;
        &-list {
        padding-top: 60px;
        display: block;
        }
        &-list__items {
            width: 100%;
        }
        &-list__image {
            max-width: 150px;
        }
        .gap {
            padding-top: 50px;
        }
        .wedo-list__intro .heading {
            font-size: 18px;
        }
        .wedo-list__intro .text {
            font-size: 16px;
        }
    }
    @include maxWidth(767px) {
        &-list__intro {
            padding-left: 20px;
        }
        .wedo-list__intro .heading {
            font-size: 16px;
        }
        .wedo-list__intro .text {
            font-size: 14px;
        }
    }
}