.wedo {
    text-align: center;
    padding-top: 90px;
    &__container {
        @include flexbox((justify-content: space-between));
        padding-top: 100px;
    }
    &-column:first-child {
        padding-right: 155px;
    }
    &-column__items {
        margin-bottom: 80px;
        @include flexbox((justify-content: space-between));
    }
    &-column__image {
        height: 100%;
        object-fit: cover;
    }
    &-intro {
        text-align: left;
        padding-left: 44px;
    }
    .wedo-intro .heading {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .heading {
        font-size: 48px;
    }
    .gap {
        padding-top: 100px;
    }
    @include maxWidth(1023px) {
        padding-top: 60px;
        &__container {
            padding-top: 60px;
            display: block;
        }
        &-column:first-child {
            padding: 0;
        }
        .heading {
            font-size: 32px;
        }
        .wedo-intro .heading {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    @include maxWidth(767px) {
        &-column__image {
            @include size(20%, 100%);
        }
        &-intro {
            padding-left: 25px;
        }
        .heading {
            font-size: 20px;
        }
        .wedo-intro .heading {
            font-size: 18px;
        }
    }
}